@import "./styles/__mixins";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-credentials-auto-fill-button {
	display: none;
}
