.history-page {
	display: flex;
	flex-direction: column;
	width: 100%;
	position: relative;
	&__iconbar {
		position: absolute;
		width: 100%;
		top: 0;
	}
	&__outlet {
		margin-top: 4rem;
		padding-bottom: 4rem;
	}
}
