.request-page {
	display: flex;
	flex-direction: column;
	width: 100%;
}
.fade-enter {
	opacity: 0;
	transform: translateY(-20px); // Optional: adds a slight upward movement
}

.fade-enter-active {
	opacity: 1;
	transform: translateY(0);
	transition: opacity 300ms, transform 300ms;
}

.fade-exit {
	opacity: 1;
	transform: translateY(0);
}

.fade-exit-active {
	opacity: 0;
	transform: translateY(20px); // Optional: adds a slight downward movement
	transition: opacity 300ms, transform 300ms;
}
